@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Nunito+Sans:wght@400;800&family=Outfit:wght@100;200;300;400;500;600&family=Poppins&family=Prompt:wght@300;400&family=Staatliches&family=Teko:wght@400;500&display=swap');



body {
    margin: 25px;
    position: relative;
    background: whitesmoke;
    font-family: 'Outfit', sans-serif;
}

#tipBackground {
    height: 470px;
    width: 350px;
    background: linear-gradient(rgb(255, 255, 255), white, rgb(250, 250, 250));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px rgba(28, 28, 28, 0.625);
    border-radius: 30px;
    align-items: center;

}

#totalPayment {
    display: block;
    margin: 0% auto;
    height: 35px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    background: rgb(255, 255, 255);
}

#currency {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 0px;
    position: absolute;
    top: 136px;
    left: 78px;

}

datalist,
option,
select {
    border: 0px;
    font-weight: 600;
    outline: none;
}

select {
    outline: none;
}

#header {
    text-align: center;
    text-decoration: underline;
}

#total,
#members {
    text-align: center;
}


#tipHeading {
    text-align: center;
}

#tipValue {
    text-align: center;
}

#memberBack {
    display: flex;
    justify-content: center;
}

#membersDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}

#sub {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 0px;
}

#plus {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 0px;
}

input[type=button] {
    background: rgb(231, 230, 230);
}

input[type=button]:hover {
    background: rgb(211, 210, 210);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#valueofMembers,
#plus,
#sub {
    text-align: center;
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 1px rgba(83, 83, 83, 0.451);
}

input[type=number] {
    border: 0px;
    background: rgb(244, 243, 243);
}

#precentRange {
    display: flex;
    align-content: center;
    justify-content: center;
}